
.board-title-wrapper {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;

  p {
    font-family: Montserrat, sans-serif;
  }
}

.active-board {

}

.btn-container {
  button {
    border-radius: 20px;
    color: #A95237;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
  }
}
