
.board-title-wrapper {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;

  p {
    font-family: Montserrat, sans-serif;
    color: #463F3A;
  }
}

.active-board {
  background-color: #ee9e91;
}

.btn-container {

  button {
    border-radius: 20px;
    color: #A95237;
    font-size: 12px;
    font-family: Montserrat, sans-serif;
  }
}

.sidebar-container {
  padding-top: 30px;
  height: 100%;
}

.logo-container {

  p {
    //font-family: "Montserrat-Bold", sans-serif;
    font-family: "Austria", sans-serif;
    color: #A95237;
    font-size: 25px;
  }
}
