<!--<button mat-raised-button (click)="addCard()">Dodaj</button>-->
<div class="info-container" fxLayout="row">
  <p style="cursor: pointer" (click)="openInfoDialog()" fxLayoutAlign="center center">
    How it works?
    <mat-icon aria-hidden="false" aria-label="Info icon">info</mat-icon>
  </p>
  <mat-icon aria-hidden="false" aria-label="Edit icon" (click)="toggleEditMode()" style="cursor: pointer">
    edit
  </mat-icon>
</div>
<div *ngIf="!editMode" class="board-title-container">
  <p>{{board.label}}</p>
</div>
<mat-form-field class="form" *ngIf="editMode" style="margin-left: 50px">
  <input matInput type="text" [(ngModel)]="board.label">
</mat-form-field>
<div class="skill-cards-container" fxLayoutGap="30px" fxLayoutAlign="start start">
  <app-skill-card *ngFor="let card of cardArray"
                  [title]="card.label"
                  [color]="checkColor(card.colorLevel)"
                  [editMode]="editMode"
                  (click)="incrementLevel(card)"
                  style="cursor: pointer">
  </app-skill-card>
  <!--  <app-skill-card [title]="'+'" (click)="addCard()" style="cursor: pointer"></app-skill-card>-->
  <div class="btn-container" fxLayoutAlign="center center">
    <button mat-raised-button (click)="addCard()" fxLayout="column" fxLayoutAlign="center center">
      <mat-icon aria-hidden="false" aria-label="Add icon">add</mat-icon>
    </button>
  </div>
</div>
