<mat-drawer-container class="main-container" [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'" [opened]="sidenavOpened">
    <app-sidebar></app-sidebar>
  </mat-drawer>
  <mat-drawer-content>
    <button *ngIf="sidenavOpened === false" mat-raised-button (click)="drawer.toggle()" fxLayoutAlign="center center">
      <mat-icon  fxLayoutAlign="center center" aria-hidden="false" aria-label="Menu icon">menu</mat-icon>
    </button>
    <app-board></app-board>
  </mat-drawer-content>
</mat-drawer-container>
