.card-container {
  height: 100px;
  width: 150px;
  margin-bottom: 18px;
}

.edit-container {
  mat-icon {
    font-size: 13px;
    cursor: pointer;
    color: #A95237;
    opacity: 0.7;
  }
}

mat-card {
  padding: 0;
  background-color: #FFF4F2;
}

.title-container {
  font-family: "Montserrat-SemiBold", sans-serif;
  color: #463F3A;
}
